body { margin: 0; overflow: hidden; }
.node { stroke: #fff; stroke-width: 0px; cursor: pointer; }
.link { stroke: #999; stroke-width: 3px; cursor: pointer; }
.link:hover { stroke: gold; stroke-width: 4px; }
.text {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
