:root {
  --edge-color: #100b00;
  --edge-hover: #d6d1cd;
  --node-text: #e5ece9;
  --red: #d5202f;
  --red-hover: #df2a39;
  --black: #100b00;
  --black-hover: #291c00;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app,
svg {
  width: 100vw;
  height: 100vh;
  display: block;
}

.link {
  stroke: var(--edge-color);
  fill: var(--edge-color);
  color: var(--edge-color);
  stroke-width: 4px;
  z-index: 10;
  cursor: pointer;
}

.link:hover {
  cursor: pointer;
  stroke: var(--edge-hover);
}

.node {
  cursor: move;
  fill: var(--black);
  stroke: none;
  stroke-width: 1.5px;
}

.node.red {
  fill: var(--red);
  stroke: var(--black);
  stroke-width: 3px;
}

.node text,
.node.red text {
  font-size: 23px;
  fill: white;
  font-weight: bold;
  pointer-events: none;
  stroke-width: 0;
}


.node.hover {
  fill: var(--black-hover);
  stroke: var(--black-hover);
  stroke-width: 3px;
}
.node.hover text {
  stroke: none;
}

.node.red.hover {
  fill: var(--red-hover);
}

.node.selected,
.node.selected:hover,
.node.red.selected:hover {
  stroke-width: 3px;
  stroke: silver;
}

.node.selected text {
  stroke: none;
  fill: silver;
}

.speech-bubble {
  position: relative;
  bottom: 0px;
  right: 0px;
  background: #ededed;
  border-radius: .4em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 29px solid transparent;
  border-top-color: #ededed;
  border-bottom: 0;
  border-left: 0;
  margin-left: -14.5px;
  margin-bottom: -29px;
}
.guide {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.guide img {
  width: 50px;
  height: 50px;
}
